body {
    font-family: sans-serif;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
nav ul{
    list-style-type: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    border-right: 2px solid #000000;
    padding-right: 8px;
    padding-left: 8px;
}
nav ul :last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: blue;
}
nav ul li a :hover {
    color: black;
}