.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  h1 {
      font-size: 50px;
      text-align: center;
  }
  h2 {
      font-size: 40px;
  }
  h3 {
    font-size: 30px;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: center;
  }
  a {
    font-size: 20px;
  }